# Code owners are automatically requested for review when someone opens a pull
# request that modifies code that they own.
#
# More: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

* @MacPaw/setapp-desktop
